body {
    background-image: url("./images/book.jpg");
    background-size: cover;
    height: 100%;
    overflow:auto;
}

*{
    margin: 0;
    padding: 0;
}
/* .banner {

} */

/*This is for the navbar*/
.container{
    margin: 0 auto;

}
.navbar {
    float: right;
    padding: 14px;
}

.navbar ul {
    margin: 0;
    padding:0;
    
}
.navbar ul a {
    text-decoration: none;
    font-size:12px;
    
}
nav a:hover{
    color:#444;
}
nav li{
    display: inline-block;
    margin-right: 40px;
    padding-top: 17px;
    font-weight: bold;
    position: relative;
}

nav a::before{
    content: '';
    display:block;
    height: 2px;
    background-color:azure;
    position: absolute;
    top:0;
    width:0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
    background-color: #444;
}

/*This for the logo, create image on canva and replace later*/
.logo{
    width: 2cm;
    height: 2cm;
    margin: 0 auto;
    margin-left: 40px;
    padding-bottom:2px
    
}
 .logo:hover{
    color:#444;
    border-color:#444;
 }
header{
    background-color:rgb(1, 42, 116);
}

header::after{
    content: '';
    display: table;
    clear:both;
}

header a{
    text-decoration: none;
    float:left;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items:center;

}
.head{
    display: flex;
    justify-content: left;
    align-items: left;
    color: rgb(1, 42, 116);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 100px;
}

/*Searching on the home page*/
.search p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(1, 42, 116);
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 100px;
}

.search h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(1, 42, 116);
    display: flex;
    align-items: left;
    margin-left: 100px;
}

.search input[type=text]{
    width:50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:black;
    background-color: rgba(1, 35, 163, 0.2);
    border: 2px solid rgb(1, 42, 116);
    border-radius: 5px;
    margin-left: 100px;
}

.submit{
    width: 1.4cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(206, 210, 222);
    border: 2px solid rgb(1, 35, 160);
    border-radius: 40px;
    padding:2px;
    
}

.submit:hover{
    color:rgb(206, 210, 222);
    background-color: #444;
    border-color: #444;
}


.data{
    display:list-item;
    justify-content: left;
    align-items: left;
    margin-left: 0px;
}
form {
    
    margin-left: 2px;
}

/*Add page*/



/* books data in data.html*/

.display {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3px;

}
.display a{
    text-decoration: none;
    background-color: aliceblue;
    border: 2px solid rgb(1, 35, 160);
    border-radius: 20px;

}

/*loans page table*/
.onloan{
    border-collapse: collapse;
    width: auto;
}
.onloan th, td{
    border: 2px double #dddddd ;
    text-align: left;
    padding: 8px;
}

.onloan tr:nth-child(even){
    background-color: rgba(1, 35, 163, 0.2);
}

/* The table on the data page*/
.bookinfo{
    border-collapse: collapse;
    width: auto;
}
.bookinfo th, td{
    border: 2px double #dddddd;
    text-align: left;
    padding: 8px;
}
.bookinfo tr:nth-child(even) {
    background-color: rgba(1, 35, 163, 0.2);
  }

.searchbookinfo{
    border-collapse: collapse;
    width: auto;
}

.searchbookinfo th, td{
    border: 4px double #dddddd;
    text-align: left;
    padding: 8px;
}
/*
.loans p{
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-right:2px solid #444;
    border-left: 2px solid #444;
    
}
*/