<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Add</title>
</head>
<body>

    <header>
        <a class="logo" href="/" type="button">Biblioteca</a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">Delete</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
    
        </div>
        
    </header>

    <h1>Add a book</h1>

    <div class="add">
        <form method="POST">
            <input type="text" id="title" name="title" placeholder="Title">
            <input type="text" id="author" name="author" placeholder="Author">
            <input type="number" id="date_published" name="date_published" placeholder="Date Published">
            <input type= "submit" name="enter" id="enter">
        </form>

    </div>
    
   
</body>
</html>