<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Add</title>
</head>
<body>

    <header>
        <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">Delete</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
    
        </div>
        
    </header>
    <br><br><br><br><br>

    

    <div class="add" align="center">
        <div align="center" class="addborder">
            <div class="addheader">
                <h1 class="addbook">Add a book</h1>
            </div><br><br><br>
            <h2 class="addbook">
                <form method="POST">
                    <input type="text" id="title" name="title" placeholder="Title" class="textbox" required><br><br>
                    <input type="text" id="author" name="author" placeholder="Author" class="textbox" required><br><br>
                    <input type="number" id="date_published" name="date_published" placeholder="Date" min="1" max="2022" class="textbox" required ><br><br>
                    <input type= "submit" name="enter" id="enter" class="btn">
                </form>
            </h2>
        </div>
     </div>
    
   
</body>
</html>