<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your dad is not here</title>

    <h1>404 Not Found</h1>
</head>
<body>
    <p> Your dad is not here. The requested person was not found on this server. If you can locate the milk you might find him too </p>
    <img src="/static/images/dad.png" alt="#" width="250px" height="300px">
    <img src="/static/images/milk.jpeg" alt="#" width="250px" height="150px" margin-left="700px">
</body>
</html>