<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Document</title>
</head>
<body>
    
<header>
    <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="{{url_for('data')}}">Books</a></li>
                <li><a href="{{url_for('add')}}">Add</a></li>
                <li><a href="{{url_for('delete')}}">Delete</a></li>
                <li><a href="{{url_for('loans')}}">Return</a></li>
            </ul>
        </nav>

    </div>
    
</header>
<h1>These are our books</h1>
<div class="display">
    
    <table class="bookinfo">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Borrow</th>
        </tr>
        {%for data in datas%}
        <tr>
            <td><p>{{data[0]}}</p></td>
            <td><h4>{{data[1]}}</h4></td>
            <td><p>{{data[2]}}</p></td>
            <td><p>{{data[3]}}</p></td>
            <td> <a href="{{url_for('borrow',book_id=data.idbooks)}}">Borrow</a></td>
        </tr>
        {%endfor%}
        

    </table>
        
     
    
</div>

   
    
</body>
</html>