<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Document</title>
</head>
<body>
    
<header>
    <a class="logo" href="/" type="button">Biblioteca</a>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="{{url_for('data')}}">Books</a></li>
                <li><a href="{{url_for('add')}}">Add</a></li>
                <li><a href="{{url_for('delete')}}">Delete</a></li>
                <li><a href="#">Return</a></li>
            </ul>
        </nav>

    </div>
    
</header>
<h1>These are our books</h1>
<div class="display">
    {%for data in datas%}
        <h1>{{data[1]}}</h1>
        <h2>{{data[2]}}</h2>
        <h2>{{data[3]}}</h2>
        <p>{{data[0]}}</p>
        <a href="{{url_for('borrow',book_id=data.idbooks)}}">Borrow</a>
     
    {%endfor%}
</div>

   
    
</body>
</html>