<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Delete</title>
</head>

<body>

    <header>
        <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">Delete</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
    
        </div>
        
    </header>
    <h1>Delete a book</h1>
    <div class="rm">
        <form method="POST">
            
            <input type="number" id="rm_book_id" name="book_id" placeholder="book id">
            <input type= "submit" name="enter" id="enter">
        </form>

    </div>
</body>
</html>