<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Migi's Library</title>
</head>

<body>

<header>
    <a class="logo" href="/" type="button">Biblioteca</a>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="{{url_for('data')}}">Books</a></li>
                <li><a href="{{url_for('add')}}">Add</a></li>
                <li><a href="{{url_for('delete')}}">Delete</a></li>
                <li><a href="#">Works</a></li>
            </ul>
        </nav>

    </div>
    
</header>

    <div class="head">
        <h1>My Library</h1>
    </div>
    <div class="search">
    <p>En la Biblioteca</p>
    <br>    
    <form method="POST">
        <input type="text" id="input" name="search" placeholder="Search our Database">
        <input type="submit" value="Search">
    </form>
    </div>
</body>
</html>

