<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">If</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
    
        </div>
        
    </header>
    <h1>These are the books on loan</h1>
    <br>
    <div class="loans">
        <table class="onloan">
            <tr>
                <th>ID:</th>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Borrower ID</th>
                <th>Borrower</th>
                <th>Date Borrrowed</th>
                <th>Date Due</th>
                <th>Return</th>
            </tr>
            {%for loan in loans%}
            <tr>
                <td><p>{{loan.idloan}}</p></td>
                <td><p>{{loan.idbooks}}</p></td>
                <td><p>{{loan.title}}</p></td>
                <td><p>{{loan.borrowers_idborrowers}}</p></td>
                <td><p>{{loan.fname}} {{loan.lname}}</p></td>
                <td><p>{{loan.date_borrowed}}</p></td>
                <td><p>{{loan.date_due}}</p></td>
                <td><a href="{{url_for('verify', loan_id=loan.idloan)}}">Return</a></td>
            </tr>
            {%endfor%}
        </table>
           
    </div>
</body>
</html>