<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">If</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
    
        </div>
        
    </header>
   
    <div class="loans">
        <h1>These are the books on loan</h1>
        <div>
            {%for loan in loans%}
            <h2 id="title">{{loan.idloan}}</h2>
            <p>Book:{{loan.title}}, ID:{{loan.idbooks}}</p>
            <p>Borrower:{{loan.fname}} {{loan.lname}}, ID:{{loan.borrowers_idborrowers}}</p>
            <p>Date Borrrowed:{{loan.date_borrowed}}</p>
            <p>Date Due:{{loan.date_due}}</p>
            <a href="{{url_for('verify', loan_id=loan.idloan)}}">Return</a>
            {%endfor%}
        </div>
    </div>
</body>
</html>