<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Search</title>
</head>
<body>
    <header>
        <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">If</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
    
        </div>
        
    </header>
    <h1>Here's what we found for "{{term}}"</h1>
    <br>
    {%if books%}
   <div class="data" >
        <table class="searchbookinfo">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year Published</th>
                <th>Borrow</th>
            </tr>
            {%for book in books%}
            <tr>
                <td><p>{{book.idbooks}}</p></td>
                <td><p>{{book.title}}</p></td>
                <td><p>{{book.author}}</p></td>
                <td><p>{{book.date_published}}</p></td>
                <td> <a href="{{url_for('borrow',book_id=book.idbooks)}}">Borrow</a></td>
            </tr>
            {%endfor%}
        

        </table>
    </div>
    {%else%}
        <h1>{{term}} is not in our library</h1>    
    {%endif%}
    
</body>
</html>