<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Document</title>
</head>
    
<body>
    <header>
        <a href="/"><img src="/static/images/bibliopus.png" alt="logo" class="logo"></a>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('data')}}">Books</a></li>
                    <li><a href="{{url_for('add')}}">Add</a></li>
                    <li><a href="{{url_for('delete')}}">If</a></li>
                    <li><a href="{{url_for('loans')}}">Return</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Verify you borrowed this book</h1>
    <div class="returning">
        <form methods="POST">
            <input type="text" id="returnfname" name="returnfname" placeholder="First Name">
            <input type="text" id="returnlname" name="returnlname" placeholder="Last Name">
            <input type="text" id="returnemail" name="returnemail" placeholder="Email Address">
            <input type="returnnumber" id="returnnumber" name="returnnumber" placeholder="Phone Number">
            <input type="submit" name="return" id="return">

        </form>

    </div>
</body>
</html>